div{
font-size: 20px;
}
span:{
color: cadetblue;
    }
.title__container{
color: dimgrey;
}
.veb{
color: darkorange;
}
.razrabotka{
color: darkorange;}
.ceo{
color: darkorange;}
.marketing{
color: darkorange;}
.keysi{
color: darkorange;}